:root {
  --WHITE: #fff;
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --OCEAN: #404bbf;
  --DAIRY: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header,
main,
footer,
nav,
ul,
li,
h2,
h3,
a,
p,
svg {
  margin: 0;
}

/* ----- Removing the <ul> default padding ----- */
.header-menu,
.contact-menu,
.article-unorder-list,
.gadget-unorder-list,
.team-unorder-list {
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 428px) {
    .container {
      max-width: 428px;
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }
  }
}

/* ----- Header/Navigation Section ----- */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;

  @media screen and (min-width: 1158px) {
    position: sticky;
    top: 0;
    background-color: var(--WHITE);
    z-index: 999;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  @media screen and (max-width: 1158px) {
    .nav-container {
      margin-left: 16px;
      margin-right: auto;
    }

    .div-contact-menu {
      margin-right: 16px;
      margin-left: auto;
    }

    .div-header-menu {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu {
    gap: 40px;

    @media screen and (max-width: 768px) {
      .header-menu-list {
        display: none;
      }
    }

    @media screen and (min-width: 768px) {
      .header-menu-list {
        display: flex;

        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
      }
    }
  }

  @media screen and (max-width: 1158px) {
    .header-menu {
      margin-right: 120px;
      margin-left: 120px;
    }
  }

  @media screen and (min-width: 1158px) {
    .header-menu {
      margin-right: 332px;
      margin-left: 76px;
    }
  }

  .contact-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 768px) {
      .contact-menu-list {
        display: none;
      }
    }

    @media screen and (min-width: 768px) {
      .contact-menu-list {
        display: block;
        margin-left: auto;

        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
      }
    }
  }

  .hamburger-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      .hamburger-icon {
        display: none;
      }
    }
  }
}

.logo {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo span {
  color: var(--IRIS);
}

.header-menu-list {
  list-style: none;
}

.header-menu span {
  color: var(--IRIS);
}

.header-menu-link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  list-style-type: none;
}

.active {
  color: var(--OCEAN);
}

.active::after {
  content: " ";
  display: block;
  position: relative;
  top: 21px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--IRIS);
}

/* ----- Contacts Section ----- */
.div-contact-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) and (max-width: 1158px) {
    .contact-menu {
      display: block;
      gap: 12px;
    }
  }
}

.contact-menu-list {
  list-style: none;
}

.contact-menu .contact-menu-link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* ----- <index.html> ----- */
/* ----- Hero Section ----- */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  height: 600px;
  background-image: url(../images/people-office\ 1.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--NAVY-BLUE);

  & h1 {
    margin-bottom: 48px;
    color: var(--WHITE);
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;

    @media screen and (max-width: 428px) {
      font-size: 36px;
    }
  }

  .hero-btn {
    cursor: pointer;

    padding: 16px 32px;
    border: 0px;
    border-radius: 4px;
    background: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: var(--WHITE);
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
  }

  @media screen and (min-width: 768px) {
    .hero-section {
      font-size: 56px;
      line-height: 60px;
      letter-spacing: 1.12px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/people-office\ 1.jpg);
      background-blend-mode: soft-light;
      background-color: var(--NAVY-BLUE);
    }
  }
}

/* ----- Data Modal ----- */
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  background-color: white;
  width: 408px;
  height: 584px;
  border-radius: 4px;

  margin-top: 10px;
}

.data-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--OCEAN);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal-btn:hover {
  fill: currentColor;
  border: 1px solid currentColor;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-text-header {
  margin: 72px 24px 16px;
  text-align: center;

  color: var(--NAVY-BLUE);
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* ----- Service Form ----- */
.signup-form {
  display: block;
  justify-content: flex-start;

  margin: 0px 24px 16px;
  padding: 0;
}

.frm-icon {
  position: absolute;
  top: 26px;
  left: 16px;

  width: 18px;
  height: 24px;
  fill: var(--NAVY-BLUE);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 16px;

  color: var(--LIGHT-SLATE);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.input-text {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  margin-top: 4px;

  outline: none;
  border: 1px solid var(--NAVY-BLUE);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--LIGHT-SLATE);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

label > textarea {
  resize: none;
  height: 120px !important;
  padding: 8px 8px 8px 16px !important;
  text-align: justify;

  color: var(--NAVY-BLUE, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.label-chkbox-policy {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chkbox-policy {
  cursor: pointer;
}

.icon-for-chkbox {
  width: 22px;
  height: 22px;

  fill: var(--WHITE);
  border-radius: 2px;
  border: 1px solid var(--LIGHT-SLATE);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chkbox-policy-text {
  padding-left: 4px;
}

form > button {
  padding: 12px 50px !important;
}

.input-text:hover,
.input-text:focus {
  border: 1px solid var(--IRIS);
  border-radius: 4px;
}

.input-text:hover + .frm-icon,
.input-text:focus + .frm-icon {
  fill: var(--IRIS);
}

.chkbox-policy:checked {
  background-color: var(--IRIS);
}

.chkbox-policy:checked + .icon-for-chkbox {
  border-color: var(--IRIS);
  background-color: var(--IRIS);
}

.visually-hidden {
  position: absolute;
  border: 0;
  opacity: 0;
}

/* ----- Section Article ----- */
.section-article {
  padding-block: 120px;
}

.section-article .article-unorder-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  @media screen and (min-width: 768px) and (max-width: 1158px) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;

    .article-list-list {
      width: calc((100% / 2) - 30px);
    }
  }

  @media screen and (width < 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;

    .article-list-list {
      width: 396px;
    }
  }

  @media screen and (max-width: 1158px) {
    .svg-anchor {
      display: none;
    }
  }

  @media screen and (min-width: 1158px) {
    .svg-anchor {
      display: flex;
    }
  }
}

.section-article li {
  list-style: none;
}

.section-article p {
  letter-spacing: 0.72px;
  text-wrap: pretty;
}

.section-article .article-unorder-list .article-title {
  color: var(--NAVY-BLUE);
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section-article .article-unorder-list .article-paragraph {
  color: var(--SLATE);
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-article .article-unorder-list .article-list-list {
  border-radius: 4px;
  border: 0px;

  @media screen and (min-width: 1158px) {
    width: 264px;
    height: 112px;
    background-color: var(--CLOUD);
  }

  @media screen and (max-width: 1158px) {
    .article-title {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.72px;

      @media screen and (width < 768px) {
        text-align: center;
      }
    }

    .article-paragraph {
      font-weight: 500;
    }
  }
}

.article-list-list .svg-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
}

.svg-anchor svg {
  stroke: var(--LIGHT-SLATE);
}

.svg-anchor svg:hover {
  stroke: var(--IRIS);
}

/* ----- Section Gadget ----- */
.section-gadget h2 {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  padding-top: 120px;
}

.section-gadget .gadget-unorder-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 72px 156px 120px;
}

.section-gadget li {
  list-style: none;
}

@media screen and (max-width: 1158px) {
  .section-gadget {
    display: none;
  }
}

/* ----- Section Team ----- */
.section-team {
  background-color: var(--CLOUD);
  padding-bottom: 120px;
}

.section-team h2 {
  color: var(--NAVY-BLUE);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.section-team .team-unorder-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  padding: 72px auto 120px;

  @media screen and (min-width: 768px) and (max-width: 1158px) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;

    .team-list {
      width: calc((100% / 2) -30px);
    }
  }

  @media screen and (width < 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;

    .team-list {
      width: 264px;
    }
  }
}

.section-team .team-unorder-list .name {
  padding-top: 32px;
  padding-bottom: 8px;

  color: var(--NAVY-BLUE);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section-team .team-unorder-list .designation {
  color: var(--SLATE);
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-team li {
  list-style: none;
}

.team-list {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.svg-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  margin: 8px auto 32px;
}

.svg-icons-container .svg-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  width: 40px;
  height: 40px;
  background: var(--OCEAN);
}

.svg-icons-container .svg-icon-div:hover {
  background-color: var(--IRIS);
}

.svg-icons-container .svg-icon-div .svg-icon-anchor {
  fill: var(--CLOUD);
  width: 16px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* ----- Customer Section ----- */
.customers-section {
  background-color: var(--WHITE);

  & h2 {
    color: var(--NAVY-BLUE);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: center;
    margin: 120px auto 72px;
  }

  .svg-icon-lists {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0px auto 120px;
    list-style: none;

    @media screen and (min-width: 768px) and (max-width: 1158px) {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 72px;
      padding-inline: 16px;

      .svg-icon-item {
        width: calc((100% / 3) - auto);
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 72px;
      padding-inline: 16px;

      .svg-icon-item {
        width: calc((100% / 2) - auto);
      }
    }
  }

  .svg-icon-item svg {
    padding: 16px 32px;
    width: 168px;
    height: 88px;

    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
  }

  .svg-icon-anchor svg {
    fill: var(--LIGHT-SLATE);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .svg-icon-anchor svg:hover {
    fill: var(--IRIS);
  }
}

/* ----- <portfolio.html> ----- */
/* ----- Buttons Section ----- */
ul {
  padding: 0;
  list-style: none;
}

.port-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 96px auto 72px;

  .port-btn-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    color: var(--IRIS);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

    background: var(--CLOUD);
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER);

    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
  }

  .port-btn-label:hover {
    color: var(--WHITE);
    background: var(--OCEAN);
    box-shadow: var(--OCEAN);
  }
}

@media screen and (max-width: 428px) {
  .port-btn {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
    padding-left: 16px;

    .port-item {
      width: calc((100% / 3) - auto);
    }
  }
}

/* ----- Portfolio Images Section ----- */
.port-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 72px;

  & ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;

    @media screen and (max-width: 428px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 16px;

      .port-card-list {
        width: calc((100% / 1) - 16px);
      }
    }

    @media screen and (max-width: 768px), (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      .port-card-list {
        width: calc((100% / 2) - auto);
      }
    }

    @media screen and (min-width: 1158px), (max-width: 1158px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .port-card-list {
        width: calc((100% / 3) - auto);
      }
    }
  }

  & li .paragraph {
    margin: 32px 0;

    .project-name {
      color: var(--NAVY-BLUE);
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.4px;
    }

    .group-name {
      color: var(--SLATE);
      font-family: inherit;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
    padding: 0px 16px;
  }

  .port-card-list {
    margin-bottom: 48px;
    border: 1px solid var(--CORNFLOWER);
  }

  .port-card-list:hover {
    border: 1px solid var(--CLOUD);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .port-card-list {
    overflow: hidden;
  }

  .port-card-list img {
    width: 100%;
    display: block;
  }

  .port-card-list:hover .project-image-caption {
    opacity: 0.75;
    transform: translateY(0);
  }

  .project-image {
    position: relative;
    overflow: hidden;
  }

  .project-image-caption {
    position: absolute;
    background-color: var(--IRIS);
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .project-image-caption p {
    padding: 40px 32px;
    color: var(--CLOUD, #f4f4fd);
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}

/* ----- Footer Section ----- */
footer {
  background-color: var(--NAVY-BLUE);
  height: 312px;

  .logo {
    color: var(--CLOUD);

    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  .text {
    color: var(--WHITE);

    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .container-logo-text {
    margin: 101.5px auto auto;
  }

  .text {
    margin-top: 16px;
  }

  .logo,
  .text {
    padding-left: 16px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 106px;
  padding-right: 116px;

  @media screen and (max-width: 428px) {
    flex-direction: column;
    justify-content: center;

    .container-logo-text .text {
      width: 268px;
    }

    .logo-container,
    .social-media {
      text-align: center;
    }

    .logo-container {
      font-size: 18px;
    }

    .text,
    .social-media,
    .subscription-label {
      font-size: 16px;
    }

    .subscribe-form-container .subscribe-form .subscription-label {
      text-align: center;
    }

    .subscribe-form-container .subscribe-form .subscription-input {
      width: 376px;
      margin-bottom: unset;
      row-gap: unset;
    }

    .subscribe-form-container .subscribe-form .submit-button-container {
      width: 156px;

      .footer-button-submit {
        margin-top: 0px;
      }
      .subscribe-icon {
        top: 0;
      }
    }

    .subscribe-form {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  @media screen and (max-width: 1158px) {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    gap: 24px;

    .logo {
      font-size: 18px;
    }

    .container-logo-text .text {
      width: 268px;
    }

    .text,
    .social-media,
    .subscription-label {
      font-size: 16px;
    }

    .logo,
    .text {
      padding-left: unset;
    }

    .container-logo-text {
      margin-right: 24px;
    }

    .container-logo-text,
    .svg-icons-container {
      margin-left: unset;
      margin-bottom: unset;
    }

    .subscribe-form-container {
      margin-left: unset;
      margin-bottom: 96px;
    }

    .subscribe-form-container .subscribe-form {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .subscribe-form-container .subscribe-form .submit-button-container {
      width: 156px;
    }
  }

  @media screen and (min-width: 1158px) {
    height: 100%;
    gap: 24px;
    padding-left: 168px;
    padding-right: 78px;

    .logo,
    .text {
      padding-left: unset;
    }

    .container-logo-text,
    .svg-icons-container {
      margin-left: unset;
      margin-bottom: unset;
    }

    .subscribe-form-container {
      margin-left: unset;
      margin-bottom: 96px;
    }

    .subscribe-form-container .subscribe-form {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .subscribe-form-container .subscribe-form .submit-button-container {
      width: 156px;
    }
  }
}

.container-text-icons {
  display: inline;
  align-items: start;
  margin: 100px auto 132px auto;
}

.social-media {
  color: var(--WHITE);
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;

  margin: 0;
  padding: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  padding: 0;
}

/* ----- Subscription Form ----- */
.subscribe-form-container {
  margin-left: auto;
  margin-right: auto;
  width: 453px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  margin-top: 100px;
}

.subscription-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscription-text {
  color: var(--WHITE);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.subscription-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;

  color: var(--LIGHT-SLATE);
  background-color: transparent;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;

  outline: none;
  border-radius: 4px;
  border: 1px solid var(--WHITE);
  background-color: var(--NAVY-BLUE);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input:hover,
.subscription-input:focus {
  border: 1px solid var(--OCEAN);
}

.subscription-input:focus {
  color: var(--WHITE);
  font-size: 14px;
}

.submit-button-container {
  position: relative;
  width: 100%;
}

.footer-button-submit {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 8px 0px 8px 24px;
  margin-top: 40px;
  max-height: 40px;

  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  background: var(--IRIS);
  color: var(--WHITE);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  position: absolute;
  top: 44px;
  right: 24px;

  fill: var(--WHITE);
  width: 24px;
  height: 24px;
}

/* -- ----- Mobile Menu ----- -- */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--WHITE);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-container .mobile-menu {
  margin-top: 80px;
  margin-left: 40px;

  .header-menu-link {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }
}

.mobile-menu .header-menu-link > span {
  color: var(--OCEAN);
}

.menu-container .mobile-contact {
  margin-top: 284px;
  margin-left: 40px;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  gap: 40px;

  .mobile-contact-link {
    text-decoration: none;
  }

  .mobile-contact-link.phone {
    color: var(--IRIS);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }

  .mobile-contact-link.email_add {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}

.menu-container .mobile-media {
  display: inline-flex;
  gap: 56px;
  margin-top: 48px;
  margin-left: 40px;
}

.js-close-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--OCEAN);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu:hover {
  fill: var(--OCEAN);
  border: 1px solid var(--NAVY-BLUE);
}
